
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% extends "base.html" %}

{% block title %}Rechercher des vidéos{% endblock %}

{% block content %}

<h1>Rechercher des vidéos</h1>
<form action="/search" method="POST">
    <div class="search-container">
        <div class="search-input-wrapper">
            <input type="text" name="query" placeholder="Rechercher des vidéos...">
            <select class="category-select" name="category">
                <option value="">Toutes catégories</option>
                <option value="Mathématiques">Mathématiques</option>
                <option value="Sciences">Sciences</option>
                <option value="Histoire">Histoire</option>
                <option value="Autres">Autres</option>
            </select>
        </div>
        <button type="submit" class="search-button">Rechercher</button>
    </div>
</form>

<h2>Résultats de la recherche</h2>
<div class="video-list">
    {% for video in videos %}
    <div class="video-item">
        <img src="{{ video['snippet']['thumbnails']['high']['url'] }}" alt="Thumbnail">
        <h3>{{ video['snippet']['title'] }}</h3>
        <p>{{ video['snippet']['description'][:150] }}...</p>
        <form action="/add_to_favorites" method="POST">
            <input type="hidden" name="video_id" value="{{ video['id']['videoId'] }}">
            <input type="hidden" name="title" value="{{ video['snippet']['title'] }}">
            <input type="hidden" name="description" value="{{ video['snippet']['description'] }}">
            <input type="hidden" name="thumbnail_url" value="{{ video['snippet']['thumbnails']['high']['url'] }}">
            <input type="hidden" name="video_url" value="https://www.youtube.com/watch?v={{ video['id']['videoId'] }}">
            <input type="hidden" name="category" value="{{ category }}">
            <div class="actions">
                <button class="btn" type="submit">Ajouter aux favoris</button>
            </div>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
