<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% extends "base.html" %}

{% block title %}Vidéos sauvegardées{% endblock %}

{% block content %}
<h1>Vidéos sauvegardées</h1>
<div class="video-list">
    {% for video in saved_videos %}
    <div class="video-item">
        <iframe src="https://www.youtube.com/embed/{{ video[0] }}" allowfullscreen></iframe>
        <h3><a href="{{ video[4] }}" target="_blank">{{ video[1] }}</a></h3>
        <p>{{ video[2] }}</p>
        <small>Catégorie : {{ video[5] }}</small>
        <div class="actions">
            <!-- Formulaire pour supprimer une vidéo -->
            <form action="{{ url_for('remove_from_favorites') }}" method="POST">
                <input type="hidden" name="video_id" value="{{ video[0] }}">
                <button type="submit" class="remove-favorite">Supprimer des favoris</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
